<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--360浏览器优先以webkit内核解析-->


    <title>注意</title>

    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="../../static/houtai/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="../../static/houtai/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="../../static/houtai/css/animate.min.css" rel="stylesheet">
    <link href="../../static/houtai/css/style.min.css?v=4.0.0" rel="stylesheet">
    <base target="_blank">

</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
		
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">宅急送后台管理系统可以对数据库进行增删，请谨慎使用
                <br>数据没经允许，不能贩卖
                <br>有问题请联系技术人员
				<br>…………
                <h4 class="text-danger" style="color: cornflowerblue;">以上为注意事项</h4>
            </blockquote>

            <hr>
        </div>
        
        <div class="col-sm-5">
            <h2>
                           工作需要的心态
                        </h2>
            <p>关爱别人，别人才会关爱自己；<br/>
			把笑脸给别人，别人才会把笑脸给自己；<br/>
			尊重别人，别人也才会尊重自己。<br/>
			对亲人如此，对朋友如此，对顾客也理应如此。</p>
            
            
            <p>
                <a class="btn btn-success btn-outline" href="http://wpa.qq.com/msgrd?v=3&uin=516477188&site=qq&menu=yes" target="_blank">
                    <i class="fa fa-qq"> </i> 联系技术人员
                </a>
            </p>
        </div>
       
    
        </div>
    <script src="../../static/houtai/js/jquery.min.js?v=2.1.4"></script>
    <script src="../../static/houtai/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="../../static/houtai/js/plugins/layer/layer.min.js"></script>
    <script src="../../static/houtai/js/content.min.js"></script>
    <script src="../../static/houtai/js/welcome.min.js"></script>
</body>

</html>